<!-- Start of the Footer -->

<footer class="site-footer">
	<div class="container ">
		<div class="row">
			<div class="col-md-5">
				<h4>Contact Address</h4>
				<address>
					#999, Robertsganj,
					Sonebhadra, Uttar Pradesh,
					India
				</address>
			</div>
		</div>
		<div class="bottom-footer">
			<div class="col-md-5">@copyright Agriport</div>
			<div class="col-md-7">
			<ul class="footer-nav">
				<li><a href="index.html">Home</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="contact.html">Contact</a></li>
				<li><a href="link.html">Link</a></li>
			</ul>
		</div>
	</div>
	</div>
</footer>
<!-- End of the Footer -->
P