<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
      			</button>
      		<img src="images/logo.jpg" class="pull-left img-responsive">	
			<a class="navbar-brand" href="#">AgriPort</a>
			</div>
		<div class="collapse navbar-collapse navbar-left" id="bs-example-navbar-collapse-1" >
			<ul class="nav navbar-nav nav-tabs">
				<li><a href="home">Home</a></li>
				<li><a href="about">About</a></li>
				<li><a href="contact">contact</a></li>
				<li><a href="news">News</a></li>
				<li><a href="career">career</a></li>
			</ul>
		</div>	
		<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1" >
			<ul class="nav navbar-nav nav-tabs">
				
				<li class="dropdown">
		          <a href="#" class="dropdown-toggle active" data-toggle="dropdown">For Buyers<span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#working">Post Buy Requirement</a></li>
		            <li><a href="#working">Subscribe To Sell Trade Alerts</a></li>
		            <li><a href="#working">Search Suppliers</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#working">Latest Suppliers</a></li>
		          </ul>
        		</li>
        		<li class="dropdown">
		          <a href="#" class="dropdown-toggle active" data-toggle="dropdown">For Suppliers<span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#working">Post Sell Trade Leads</a></li>
		            <li><a href="#working">Search Buy Trade Leads</a></li>
		            <li><a href="#working">Subscribe to Buy Trade Alerts</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#working">Latest Tenders</a></li>		
		          </ul>
        		</li>
     					      
	      <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      <li><a href="#signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	    </ul>
	    </div>
	    
	</div>
</nav>