<html>
<head>
	<% include partials/head.ejs %>
</head>
<body>
	<% include partials/menu.ejs %>
	<br/>
	
	<% include partials/headline.ejs %>
	<br/>

<div class="jumbotron">
	<div class="container">
	<!--img src="images/logo.jpg" class="img-responsive "-->
	<img src="images/agri.jpg" class="pull-left img-responsive ">
		<div class="container">
		<h2 class="no margin">Agriport India</h2>
			<p>Agriport, as its name suggest provides a port between producers and consumers. It makes transactions easy and hussle free. Ab Delhi door nahi.</p>
			<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>
	</div>
</div>

	<% include partials/footer.ejs %>
	<% include partials/jsIncludes.ejs %>
</body>
</html>