<html>
<head>
	<% include partials/head.ejs %>
</head>
<body>
	<% include partials/menu.ejs %>
	<br/>
	
	<% include partials/headline.ejs %>
	<br/>

<div class="container">
<div class="row">
	<div class="col-xs-10 col-md-11 col-md-offset-1 col-xs-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
			<p>Alerts don't have default classes, only base and modifier classes. A default gray alert doesn't make too much sense, so you're required to specify a type via contextual class. Choose 	from success, info, warning, or danger.</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-6 col-md-3 col-md-offset-1 col-sm-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>Alerts don't have default classes, only base and modifier classes. A default gray alert doesn't make too much sense, so you're required to specify a type via contextual class. Choose from success, info, warning, or danger.</p>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-md-3 col-md-offset-1 col-sm-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
			<p>Alerts don't have default classes, only base and modifier classes. A default gray alert doesn't make too much sense, so you're required to specify a type via contextual class. Choose from success, info, warning, or danger.</p>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-md-3 col-md-offset-1 col-sm-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
			<p>Alerts don't have default classes, only base and modifier classes. A default gray alert doesn't make too much sense, so you're required to specify a type via contextual class. Choose from success, info, warning, or danger.</p>
			</div>
		</div>
	</div>
</div>
</div>

	<% include partials/footer.ejs %>
	<% include partials/jsIncludes.ejs %>
</body>
</html>